body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:817px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:817px;
  display:flex;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:54px;
  width:83px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:82px;
}
.u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:82px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u450 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:82px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:669px;
  width:89px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:188px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:161px;
  width:272px;
  height:188px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
