body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:375px;
  height:636px;
}
#u426_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:636px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1341px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1341px;
  display:flex;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
}
.u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u430 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u428-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:156px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:9px;
  width:283px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:375px;
  height:78px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
.u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u434 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:727px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:310px;
  width:136px;
  height:136px;
  display:flex;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
