body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:635px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
.u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
  display:flex;
  opacity:0.1;
  color:#000000;
}
.u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u718 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:7px;
  width:16px;
  height:16px;
  display:flex;
}
.u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
.u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:234px;
  height:75px;
  display:flex;
  color:#000000;
  text-align:center;
}
.u719 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u719_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u716-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:234px;
  width:234px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
  display:flex;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:102px;
  width:30px;
  height:17px;
  display:flex;
  font-size:15px;
}
#u721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
