body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-401px;
  width:234px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
.u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:#000000;
}
.u914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u915 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:7px;
  width:16px;
  height:16px;
  display:flex;
}
.u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
.u916 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:19px;
  width:78px;
  height:45px;
  display:flex;
  color:#000000;
  text-align:center;
}
.u916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u913-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:64px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:234px;
  width:234px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
