body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:396px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
.u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
  display:flex;
  color:transparent;
}
.u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u9 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:10px;
  width:16px;
  height:16px;
  display:flex;
}
.u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
#u7-2 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:114px;
  height:53px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:725px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
  display:flex;
}
.u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u12 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-1px;
  width:12px;
  height:12px;
  display:flex;
}
.u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u10-2 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:36px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:51px;
  width:362px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
.u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
  display:flex;
  color:transparent;
}
.u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u15 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:10px;
  width:16px;
  height:16px;
  display:flex;
}
.u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:53px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:725px;
  width:114px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
