body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:636px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
.u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
  display:flex;
  opacity:0.1;
  color:#000000;
}
.u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u889 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:7px;
  width:16px;
  height:16px;
  display:flex;
}
.u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
.u890 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:195px;
  height:75px;
  display:flex;
  color:#000000;
  text-align:center;
}
.u890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u887-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:94px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:132px;
  width:234px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:859px;
  display:flex;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
