body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:880px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:880px;
  display:flex;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:168px;
  width:112px;
  height:32px;
  display:flex;
  text-align:center;
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
.u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u274 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u272-2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:65px;
  height:53px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:492px;
  width:130px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
.u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u277 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:100px;
  width:65px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
.u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
  display:flex;
}
.u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u280 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-1px;
  width:12px;
  height:12px;
  display:flex;
}
.u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u278-2 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:36px;
  height:30px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:51px;
  width:362px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
.u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
  display:flex;
  opacity:0.1;
  color:transparent;
}
.u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u283 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
.u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:492px;
  width:65px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
